body {
    font-family: Karla, sans-serif;
    color: #484848;
    margin: 0; 
    padding: 0; 
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav {
    display: inline-block;
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 40px; 
    line-height: 80px; 
}

nav a {
    color: white; 
    size: 18px; 
    text-decoration: none; 
}

cursor {
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-color: #ff5a5f;
    height: 80px; 
}

#logo {
    height: 80px; 
}

.content {
    width:  900px; 
    margin: auto;
}

section {
    padding: 50px; 
    border: 1px solid #000000; 
    margin-bottom: 10px; 
}

section img {
    width: 300px; 
}

h1 {
    font-size: 35px; 
    padding-top: 20px; 
    padding-bottom: 20px; 
}

h2 {
    font-size: 30px; 
}

section p {
    font-size: 15px; 
}

